header {
    width: auto;
    height: 48px;
    background: transparent;
    position: relative;
    z-index: 1000;
    transition: .2s !important
}

@media (min-width:1440px) {
    header {
        background: transparent;
        transition: .2s
    }
}

header .header_nav {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

@media (min-width:1440px) {
    header .header_nav {
        width: 1167px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        position: relative
    }
}

header .header_nav .header_logo {
    width: 54px;
    height: 31px;
    display: flex;
    align-items: center;
    margin-left: 16px
}

header .header_nav .header_logo a.logo_link {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    text-decoration: none
}

header .header_nav .header_links {
    display: flex;
    width: auto;
    overflow-x: scroll;
    padding-bottom: 30px;
    margin-bottom: -30px;
    margin-left: 22px;
    padding-left: 10px;
    -webkit-mask-image: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .25) 9px, #fff 18px, #fff calc(100% - 18px), hsla(0, 0%, 100%, .25) calc(100% - 9px), transparent);
    mask-image: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .25) 9px, #fff 18px, #fff calc(100% - 18px), hsla(0, 0%, 100%, .25) calc(100% - 9px), transparent)
}

@media (min-width:1440px) {
    header .header_nav .header_links {
        margin-left: 42px;
        padding-bottom: 0;
        margin-bottom: 0;
        overflow: visible;
        -webkit-mask-image: none;
        mask-image: none
    }
}

header .header_nav .header_links li {
    list-style: none;
    margin-right: 24px
}

header .header_nav .header_links li:last-child {
    margin-right: 0
}

header .header_nav .header_links li a {
    font-size: 16px;
    font-weight: 400;
    color: #000
}

header .header_nav .header_links li a:last-child {
    white-space: nowrap
}

header .header_nav .header_basket {
    width: 135px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .3
}

@media (min-width:1440px) {
    header .header_nav .header_basket {
        width: auto;
        position: absolute;
        right: 16px
    }
}

header .header_nav .header_basket a#basket {
    color: #000;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 3px;
    position: relative
}

@media (min-width:1440px) {
    header .header_nav .header_basket a#basket {
        display: flex
    }
}

header .header_nav .header_basket a#basket svg.basketIcon {
    width: 17px;
    height: 20px;
    color: #000
}

header .header_nav .header_basket a#basket .count_round {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #4541fe;
    position: absolute;
    top: -7px;
    left: 16px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 700
}

header .header_nav .header_basket a#complete_basket {
    display: none
}

@media (min-width:1440px) {
    header .header_nav .header_basket a#complete_basket {
        display: block;
        color: #000;
        margin-left: 6px
    }
}

header .header_nav .header_basket a.disabled {
    pointer-events: none
}